      <div class="main" ng-controller="forgetPasswordController">
      	 <div class="contact">
			<div class="wrap">
			<!---start-contact---->
			<div class="section group">												
				<div class="col span_2_of_3">
				  <div class="contact-form">
				  	<h3>Forget Password</h3>
					    <form method="post" action="contact-post.html">
					    	<div>
						    	<span><label>Enter Your Username : </label></span>
						    	<span><input name="userName" type="text" class="textbox"></span>
						    </div>						    
						   <div>
						   		<span><input type="submit" class="mybutton" value="Submit"></span>
						  </div>
					    </form>

				    </div>
  				</div>				
			  </div>
			  </div>
			<!---End-contact---->
			<div class="clear"> </div>
		</div>
    </div>

