<link href="../../Resource/templates/beforeLogin/web/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<script src="../../Resource/templates/beforeLogin/web/js/jquery.min.js"></script>
<script src="../../Resource/templates/beforeLogin/web/js/responsiveslides.min.js"></script>

      <div class="main" ng-controller="serviceTemplate">
      	 <div class="services">
      	   <div class="wrap">
	      	   <div class="section group">
				<div class="listview_1_of_2 images_1_of_2">
					<div class="listimg listimg_2_of_1">
						  <img src={{sampleData.imageurl}} alt="">
					</div>
				    <div class="text list_2_of_1">
						<h3>{{sampleData.header}}</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt  ut labore et dolore.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<div class="more_info"><a href="#">More Info</a></div>
				   </div>
			   </div>			
				<div class="listview_1_of_2 images_1_of_2">
					<div class="listimg listimg_2_of_1">
						  <img src={{sampleData.imageurl2}} alt="">
					</div>
					<div class="text list_2_of_1">
						  <h3>{{sampleData.header2}}</h3>
						  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt  ut labore et dolore.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						  <div class="more_info"><a href="#">More Info</a></div>
					</div>
				</div>
			</div>  
			<div class="section group">
				<div class="listview_1_of_2 images_1_of_2">
					<div class="listimg listimg_2_of_1">
						  <img src="../../Resource/templates/beforeLogin/web/images/service-3.png" alt="">
					</div>
				    <div class="text list_2_of_1">
						<h3>Service 03</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt  ut labore et dolore.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<div class="more_info"><a href="#">More Info</a></div>
				   </div>
			   </div>			
				<div class="listview_1_of_2 images_1_of_2">
					<div class="listimg listimg_2_of_1">
						  <img src="../../Resource/templates/beforeLogin/web/images/service-4.png" alt="">
					</div>
					<div class="text list_2_of_1">
						  <h3>Service 04</h3>
						  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt  ut labore et dolore.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						  <div class="more_info"><a href="#">More Info</a></div>
					</div>
				</div>
			</div>  
			<div class="section group">
				<div class="listview_1_of_2 images_1_of_2">
					<div class="listimg listimg_2_of_1">
						  <img src="../../Resource/templates/beforeLogin/web/images/service-5.png" alt="">
					</div>
				    <div class="text list_2_of_1">
						<h3>Service 05</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt  ut labore et dolore.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<div class="more_info"><a href="#">More Info</a></div>
				   </div>
			   </div>			
				<div class="listview_1_of_2 images_1_of_2">
					<div class="listimg listimg_2_of_1">
						  <img src="../../Resource/templates/beforeLogin/web/images/service-1.png" alt="">
					</div>
					<div class="text list_2_of_1">
						  <h3>Service 06</h3>
						  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt  ut labore et dolore.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						  <div class="more_info"><a href="#">More Info</a></div>
					</div>
				</div>
			</div>  	   
	     </div>
	   </div>
    </div>


