<link href="../../../Resource/templates/beforeLogin/web/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!-- Nice Scroll -->
	<script src="../../../afterLogin/web/js/plugins/imagesLoaded/jquery.imagesloaded.min.js"></script>
	<!-- imagesLoaded -->
	<script src="../../../afterLogin/web/js/plugins/imagesLoaded/jquery.imagesloaded.min.js"></script>
	<!-- jQuery UI -->
	<script src="../../../afterLogin/web/js/plugins/jquery-ui/jquery.ui.core.min.js"></script>
	<script src="../../../afterLogin/web/js/plugins/jquery-ui/jquery.ui.widget.min.js"></script>
	<script src="../../../afterLogin/web/js/plugins/jquery-ui/jquery.ui.mouse.min.js"></script>
	<script src="../../../afterLogin/web/js/plugins/jquery-ui/jquery.ui.resizable.min.js"></script>
	<script src="../../../afterLogin/web/js/plugins/jquery-ui/jquery.ui.sortable.min.js"></script>
	<!-- slimScroll -->
	<script src="../../../afterLogin/web/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<!-- Bootstrap -->
	<script src="../../../afterLogin/web/js/bootstrap.min.js"></script>
	<!-- Bootbox -->
	<script src="../../../afterLogin/web/js/plugins/bootbox/jquery.bootbox.js"></script>
	<!-- Bootbox -->
	<script src="../../../afterLogin/web/js/plugins/form/jquery.form.min.js"></script>
	<!-- Validation -->
	<script src="../../../afterLogin/web/js/plugins/validation/jquery.validate.min.js"></script>
	<script src="../../../afterLogin/web/js/plugins/validation/additional-methods.min.js"></script>

	<!-- Theme framework -->
	<script src="../../../afterLogin/web/js/eakroko.min.js"></script>
	<!-- Theme scripts -->
	<script src="../../../afterLogin/web/js/application.min.js"></script>
	<!-- Just for demonstration -->
	<script src="../../../afterLogin/web/js/demonstration.min.js"></script>

  <div class="container-fluid">
				
				<div class="row-fluid">
					<div class="span12">
						<div class="box">
							<div class="box-title">
								<h3>
									<i class="icon-ok"></i>
									Basic validation
								</h3>
							</div>
							<div class="box-content">
								<form action="#" method="POST" class='form-horizontal form-validate' id="bb">
									<div class="control-group">
										<label for="textfield" class="control-label">Text input</label>
										<div class="controls">
											<input type="text" name="textfield" id="textfield" class="input-xlarge" data-rule-required="true" data-rule-minlength="2">
										</div>
									</div>
									<div class="control-group">
										<label for="emailfield" class="control-label">Email</label>
										<div class="controls">
											<input type="text" name="emailfield" id="emailfield" class="input-xlarge" data-rule-email="true" data-rule-required="true">
										</div>
									</div>
									<div class="control-group">
										<label for="pwfield" class="control-label">Password</label>
										<div class="controls">
											<input type="text" name="pwfield" id="pwfield" class="input-xlarge" data-rule-required="true">
										</div>
									</div>
									<div class="control-group">
										<label for="confirmfield" class="control-label">Confirm password</label>
										<div class="controls">
											<input type="text" name="confirmfield" id="confirmfield" class="input-xlarge" data-rule-equalTo="#pwfield" data-rule-required="true">
										</div>
									</div>
									<div class="control-group">
										<label for="policy" class="control-label">Agree our policy</label>
										<div class="controls">
											<label class="checkbox">
												<input type="checkbox" name="policy" value="agree" data-rule-required="true"> I agree the policy.
											</label>
										</div>
									</div>
									<div class="form-actions">
										<input type="submit" class="btn btn-primary" value="Submit">
										<button type="button" class="btn">Cancel</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span12">
						<div class="box">
							<div class="box-title">
								<h3>
									<i class="icon-ok"></i>
									More validation elements
								</h3>
							</div>
							<div class="box-content">
								<form action="#" method="POST" class='form-horizontal form-validate' id="aaa">
									<div class="control-group">
										<label for="textfield" class="control-label">Select</label>
										<div class="controls">
											<select name="aaa" id="bbb" data-rule-required="true">
												<option value="">-- Please select --</option>
												<option value="1">Option-1</option>
												<option value="2">Option-2</option>
												<option value="3">Option-3</option>
												<option value="4">Option-4</option>
												<option value="5">Option-5</option>
												<option value="6">Option-6</option>
												<option value="7">Option-7</option>
												<option value="8">Option-8</option>
												<option value="9">Option-9</option>
												<option value="10">Option-10</option>
											</select>
										</div>
									</div>
									<div class="control-group">
										<label for="urlfield" class="control-label">URL <small>with http://</small></label>
										<div class="controls">
											<input type="text" placeholder="Enter valid URL" name="urlfield" id="urlfield" data-rule-url="true" data-rule-required="true">
										</div>
									</div>
									<div class="control-group">
										<label for="minlengthfield" class="control-label">Minlength <small>minlength: 3</small></label>
										<div class="controls">
											<input type="text" placeholder="At least 3 characters" name="minlengthfield" id="minlengthfield" data-rule-minlength="3" data-rule-required="true">
										</div>
									</div>
									<div class="control-group">
										<label for="maxlengthfield" class="control-label">Maxlength <small>maxlength: 6</small></label>
										<div class="controls">
											<input type="text" placeholder="At least 3 characters" name="maxlengthfield" id="maxlengthfield" data-rule-maxlength="6" data-rule-required="true">
										</div>
									</div>
									<div class="control-group">
										<label for="datefield" class="control-label">Date <small>YYYY-MM-DD</small></label>
										<div class="controls">
											<input type="text" placeholder="Only numbers" name="datefield" id="datefield" data-rule-dateISO="true" data-rule-required="true">
										</div>
									</div>
									<div class="control-group">
										<label for="numberfield" class="control-label">Number</label>
										<div class="controls">
											<input type="text" placeholder="Only numbers" name="numberfield" id="numberfield" data-rule-number="true" data-rule-required="true">
										</div>
									</div>
									<div class="control-group">
										<label for="digitsfield" class="control-label">Digits</label>
										<div class="controls">
											<input type="text" placeholder="Only digits" name="digitsfield" id="digitsfield" data-rule-digits="true" data-rule-required="true">
										</div>
									</div>
									<div class="control-group">
										<label for="creditcardfield" class="control-label">Creditcard <small>try 446-667-651</small></label>
										<div class="controls">
											<input type="text" placeholder="Enter valid creditcard" name="creditcardfield" id="creditcardfield" data-rule-creditcard="true" data-rule-required="true">
										</div>
									</div>
									<div class="form-actions">
										<input type="submit" class="btn btn-primary" value="Submit">
										<button type="button" class="btn">Cancel</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>