    <div class="container" ng-controller="signUpClientController">

      <form class="form-signin" ng-submit="submitCreateAccountData()" id="bb">
        <h2 class="form-signin-heading">&nbsp&nbsp&nbsp&nbsp Create a Free JillBill Client Account</h2>

          
        <div class="control-group">
          	<div class="form-actions">
                  &nbsp&nbsp&nbsp&nbsp
				  <a href="#/facebookLogin"><input type="button" class="btn btn-primary" value="Facebook"></a>
                  <a href="#/googleLogin"><input type="button" class="btn btn-primary" value="Google ">
                  <a href="#/linkedinLogin"><input type="button" class="btn btn-primary" value="Linkedin ">
				
			</div>
        </div>

        <div class="control-group">
          <input type="text" class="form-control" placeholder="Email address" required autofocus ng-model="userName" ng-blur="checkEmailAvailableOnFocusOut()" name="emailfield" id="emailfield" data-rule-email="true" data-rule-required="true">
            <div ng-show="showEmailMessage" ng-cloak>
                <span ng-hide="emailAlreadyExists" style='color:green'>Username Available</span>
                <span ng-show="emailAlreadyExists" style="color:red">Username has already taken</span>
            </div>  
        </div>


        <div class="control-group">
	        <label class="checkbox">
              <input type="checkbox" name="companyCheckbox" ng-model="companyNameText" value="agree"> Sign up as a company
            </label>
	    </div>


        <div class="control-group" ng-hide="!companyNameText" ng-cloak>
	        <div class="controls">
		        <input type="text" ng-model="CompanyName" name="textfield" id="text2" class="form-control" placeholder="Company name" data-rule-required="true" data-rule-minlength="3">
                <!--<div ng-cloak>{{firstName}}</div>-->
	        </div>
        </div>


            <div class="control-group">
		        <div class="controls">
			        <input type="password" placeholder="Password" type="password" ng-model="password" name="pwfield" id="pwfield" class="form-control" data-rule-required="true" data-rule-minlength="6" data-rule-maxlength="15" required>
		        </div>
	        </div>
	        <div class="control-group">
		        <div class="controls">
			        <input type="password" placeholder="Confirm password" ng-model="confirmPassword" name="confirmfield" id="confirmfield" class="form-control" data-rule-equalTo="#pwfield" data-rule-required="true" required>
		        </div>
	        </div>


	        <div class="control-group">
		        <div class="controls">
			        <input type="text" placeholder="First name" ng-model="firstName" name="textfield" id="textfield" class="form-control" data-rule-required="true" data-rule-minlength="2" required>
		        </div>
	        </div>


            <div class="control-group">
		        <div class="controls">
			        <input type="text" placeholder="Last name" ng-model="lastName" name="textfield" id="text1" class="form-control" data-rule-required="true" data-rule-minlength="2" required>
		        </div>
	        </div>                                    
									
		    <div class="control-group">
                        <label class="checkbox">
                                <input type="checkbox" name="policy" ng-model="tncModel" data-rule-required="true"> I agree the <a href="#/tnc">policy.</a>
                        </label>
		    </div>


            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </form>

    </div>

<style>
    body {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #eee;
    }

    .form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    }
    .form-signin .form-signin-heading,
    .form-signin .checkbox {
    margin-bottom: 10px;
    }
    .form-signin .checkbox {
    font-weight: normal;
    }
    .form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
    .form-signin .form-control:focus {
    z-index: 2;
    }
    .form-signin input[type="text"] {
    margin-bottom: 11px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    }
    .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    }
    </style>








