<div class="container-fluid" ng-controller="createTemplateController">
    <div class="row-fluid">
        <div class="span12">
            <div class="box box-bordered box-color">
                <div class="box-title">
                    <h3>
                        <i class="icon-th-list"></i>Create Your Own Template</h3>
                </div>
                <div class="box-content nopadding">
                    <form class='form-horizontal form-bordered'>
                        <div class="control-group">
                                                        
                            <a ng-click="addInstructionsRow()" role="button" class="btn"><i
                                                                                          class="icon-plus-sign"></i>{{jobTemplate[0].buttonText}}</a>

                            <a ng-click="addSingleAnswer()" role="button" class="btn"><i
                                                                                          class="icon-plus-sign"></i>Single Answer</a>
                            <a href="#" role="button" class="btn"><i
                                                                      class="icon-plus-sign"></i>Multiple Answer</a>
                            <a href="#" role="button" class="btn"><i
                                                                      class="icon-plus-sign"></i>Text Box</a>
                            <a href="#" role="button" class="btn"><i
                                                                      class="icon-plus-sign"></i>List Box</a>
                                                                                                               
                            <a href="#modal-AddInstructions" role="button" class="btn" data-toggle="modal"><i
                                                                                                               class="icon-plus-sign"></i>Images</a>
                        </div>
                        
                        <div class="control-group" ng-show="jobTemplate[0].visible">
                            <label for="textfield" class="control-label">
                            
                                <a href="#modal-AddInstructions" role="button" class="btn" data-toggle="modal"><i
                                                                                                                   class="icon-plus-sign"></i>Add Instruction</a></label>
                            <div class="controls">
                                <ul id="editableInstructionsListID">
                               

                                </ul>
                            </div>
                        </div>          
                        <div class="control-group">
                            <label for="textfield" class="control-label">
                                <button type="submit" class="btn btn-primary">
                                    Add Questions</button><small>(Single Answer)</small></label>
                            <div class="controls">
                                <fieldset>
                                    <label>
                                        1. What is your gender?
                                    </label>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" value="Male" name="Gender">Male
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" value="Female" name="Gender">Female
                                        </label>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="password" class="control-label">
                                <button type="submit" class="btn btn-primary">
                                    Add Questions</button><small>(Multiple Answer)</small></label>
                            <div class="controls">
                                <fieldset>
                                    <label>
                                        1. What is your favorite type of food? (Choose all that apply:)
                                    </label>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="Chinese" name="FavoriteFoods">Chinese
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="French" name="FavoriteFoods">French
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="Indian" name="FavoriteFoods">Indian
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="Italian" name="FavoriteFoods">Italian
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="Mexican" name="FavoriteFoods">Mexican
                                        </label>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">
                                <button type="submit" class="btn btn-primary">
                                    Add Questions</button><small>(TextBox)</small></label>
                            <div class="controls">
                                <fieldset>
                                    <div class="input-group">
                                        <label>
                                            1. What is your age?</label>
                                        <input type="text" size="120" name="Age" class="form-control"></div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">
                                <button type="submit" class="btn btn-primary">
                                    Add Questions</button><small>(ListBox)</small></label>
                            <div class="controls">
                                <fieldset>
                                    <label>
                                        1. Which of the following best describes your highest achieved education level?
                                    </label>
                                    <select name="Education" class="form-control">
                                        <option value="select one" selected="selected">- select one -</option>
                                        <option value="Some High School">Some High School</option>
                                        <option value="Some college, no degree">Some college, no degree</option>
                                        <option value="Associates degree">Associates degree</option>
                                        <option value="Bachelors degree">Bachelors degree</option>
                                        <option value="Graduate degree (Masters, Doctorate, etc.)">Graduate degree (Masters,
                                            Doctorate, etc.)</option>
                                    </select></fieldset>
                                <fieldset>
                                    <label>
                                        2. What is the total income of your household?
                                    </label>
                                    <select size="5" name="HouseHoldIncome" class="form-control">
                                        <option>Less than $12,500</option>
                                        <option>$12,500 - $24,999</option>
                                        <option>$25,000 - $37,499</option>
                                        <option>$37,500 - $49,999</option>
                                        <option>$50,000 - $62,499</option>
                                        <option>$62,500 - $74,999</option>
                                        <option>$75,000 - $87,499</option>
                                        <option>$87,500 - $99,999</option>
                                        <option>$100,000 or more</option>
                                    </select></fieldset>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">
                                Create</button>
                            <button type="button" class="btn">
                                Need More Info</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-AddInstructions" class="modal hide fade" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="createProductSurveyController">
    <div class="modal-header">
        <button aria-hidden="true" id="addInstructionCloseButton" data-dismiss="modal" class="close"
                type="button" style="display: block;">
            ×</button>
        <h3 id="myModalLabel">
            Add New Instructions</h3>
    </div>
    <div class="row-fluid">
        <div>
            <h6>
                Add Instruction</h6>
            <textarea class="input-block-level" id="AddInstructionsTextArea" name="textarea" placeholder="Add Instruction"></textarea>            
            <button class="btn btn-primary" ng-click="addEditableInstructions()">
                Submit</button>      
        </div>
    </div>
</div>