<!-- XEditable -->
<link rel="stylesheet" href="../../Resource/templates/afterLogin/web/css/plugins/xeditable/bootstrap-editable.css">
<!-- XEditable -->
<script src="../../Resource/templates/afterLogin/web/js/plugins/momentjs/jquery.moment.js"></script>
<script src="../../Resource/templates/afterLogin/web/js/plugins/mockjax/jquery.mockjax.js"></script>
<script src="../../Resource/templates/afterLogin/web/js/plugins/xeditable/bootstrap-editable.min.js"></script>
<!--<script src="../../Resource/templates/afterLogin/web/js/plugins/xeditable/demo.js"></script>-->
<script src="../../Resource/templates/afterLogin/web/js/plugins/xeditable/address.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        //editables 
        $('.editableInstruction').editable({
            validate: function (value) {
                if ($.trim(value) == '') return 'This field is required';
            }
        });
        
    });

</script>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="box box-bordered box-color">
                <div class="box-title">
                    <h3>
                        <i class="icon-th-list"></i>Create Product Survey</h3>
                </div>
                <div class="box-content nopadding">
                    <form class='form-horizontal form-bordered'>
                    <div class="control-group">
                        <label for="textfield" class="control-label">
                            
                                Add Instructions <small>(Compulsory)</small></label>
                        <div class="controls">
                            <ul>
                                <li>
                                <a data-original-title="Enter Instruction #1" data-placeholder="Required" data-placement="right" data-pk="1" data-type="text"  href="#" class="editable editable-click editable-empty editableInstruction">Instruction 1</a>
                                </li>
                                <li>
                                <a data-original-title="Enter Instruction #2" data-placeholder="Required" data-placement="right" data-pk="1" data-type="text"  href="#" class="editable editable-click editable-empty editableInstruction">Instructions 2</a>
                                </li>
                                <li>
                                <a data-original-title="Enter Instruction #3" data-placeholder="Required" data-placement="right" data-pk="1" data-type="text"  href="#" class="editable editable-click editable-empty editableInstruction">Instructions 3</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">
                            <button type="submit" class="btn btn-primary">
                                Add Questions</button><small>(Single Answer)</small></label>
                        <div class="controls">
                            <fieldset>
                                <label>
                                    1. What is your gender?
                                </label>
                                <div class="radio">
                                    <label>
                                        <input type="radio" value="Male" name="Gender">Male
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" value="Female" name="Gender">Female
                                    </label>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="password" class="control-label">
                            <button type="submit" class="btn btn-primary">
                                Add Questions</button><small>(Multiple Answer)</small></label>
                        <div class="controls">
                            <fieldset>
                                <label>
                                    1. What is your favorite type of food? (Choose all that apply:)
                                </label>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="Chinese" name="FavoriteFoods">Chinese
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="French" name="FavoriteFoods">French
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="Indian" name="FavoriteFoods">Indian
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="Italian" name="FavoriteFoods">Italian
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="Mexican" name="FavoriteFoods">Mexican
                                    </label>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">
                            <button type="submit" class="btn btn-primary">
                                Add Questions</button><small>(TextBox)</small></label>
                        <div class="controls">
                            <fieldset>
                                <div class="input-group">
                                    <label>
                                        1. What is your age?</label>
                                    <input type="text" size="120" name="Age" class="form-control"></div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">
                            <button type="submit" class="btn btn-primary">
                                Add Questions</button><small>(ListBox)</small></label>
                        <div class="controls">
                            <fieldset>
                                <label>
                                    1. Which of the following best describes your highest achieved education level?
                                </label>
                                <select name="Education" class="form-control">
                                    <option value="select one" selected="selected">- select one -</option>
                                    <option value="Some High School">Some High School</option>
                                    <option value="Some college, no degree">Some college, no degree</option>
                                    <option value="Associates degree">Associates degree</option>
                                    <option value="Bachelors degree">Bachelors degree</option>
                                    <option value="Graduate degree (Masters, Doctorate, etc.)">Graduate degree (Masters,
                                        Doctorate, etc.)</option>
                                </select></fieldset>
                            <fieldset>
                                <label>
                                    2. What is the total income of your household?
                                </label>
                                <select size="5" name="HouseHoldIncome" class="form-control">
                                    <option>Less than $12,500</option>
                                    <option>$12,500 - $24,999</option>
                                    <option>$25,000 - $37,499</option>
                                    <option>$37,500 - $49,999</option>
                                    <option>$50,000 - $62,499</option>
                                    <option>$62,500 - $74,999</option>
                                    <option>$75,000 - $87,499</option>
                                    <option>$87,500 - $99,999</option>
                                    <option>$100,000 or more</option>
                                </select></fieldset>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">
                            Create</button>
                        <button type="button" class="btn">
                            Need More Info</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
