<link href="../../Resource/templates/beforeLogin/web/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<script src="../../Resource/templates/beforeLogin/web/js/jquery.min.js"></script>
<script src="../../Resource/templates/beforeLogin/web/js/responsiveslides.min.js"></script>
<script type="text/javascript">
    // You can also use "$(window).load(function() {"
    $(function () {
        // Slideshow 1
        $("#slider1").responsiveSlides({
            maxwidth: 2500,
            speed: 600
        });
    });
		  </script>

<!--start-image-slider---->
					<div class="image-slider" ng-controller="homeTemplate">
					    <ul class="rslides" id="slider1">
                          <li ng-repeat="ImageList in sliderImageList">
                                <img src={{ImageList.ImageUrl}} alt={{ImageList.ImageAlt}}>
                          </li>					      
					</div>
			<!--End-image-slider---->

<div class="main">
      	 <div class="icon_grids">
	 	   <div class="wrap">	 		
	 		 	<div class="section group">
				 <div class="grid_1_of_3 images_1_of_3">
					<div class="grid_icon"><a href="../../Resource/templates/beforeLogin/web/about.html"><img src="../../Resource/templates/beforeLogin/web/images/g1.png"></a></div>
					  <h3>Success Stories</h3>
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				     <div class="button"><span><a href="../../Resource/templates/beforeLogin/web/about.html">Read More</a></span></div>
				</div>
				<div class="grid_1_of_3 images_1_of_3">
					  <div class="grid_icon"><a href="../../Resource/templates/beforeLogin/web/services.html"><img src="../../Resource/templates/beforeLogin/web/images/g2.png"></a></div>
					  <h3>Custom Design</h3>
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				     <div class="button"><span><a href="../../Resource/templates/beforeLogin/web/services.html">Read More</a></span></div>
				</div>
				<div class="grid_1_of_3 images_1_of_3">
					  <div class="grid_icon"><a href="../../Resource/templates/beforeLogin/web/services.html"><img src="../../Resource/templates/beforeLogin/web/images/g3.png"></a></div>
					  <h3>Customer Support</h3>
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				     <div class="button"><span><a href="../../Resource/templates/beforeLogin/web/services.html">Read More</a></span></div>
				</div>
			</div>
	    </div>
	 <div class="content_bottom">
	    <div class="wrap">
	 		<div class="section group">						
					<div class="col_1_of_3 span_1_of_3">
						<h3>Our Vision</h3>
						<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</span></p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
					     <div class="read_more"><a href="#">More Info</a></div>
					 </div>
					   <div class="col_1_of_3 span_1_of_3">
							<h3>What we do</h3>
							   <ul>
		  						<li>Lorem ipsum dolor sit amet qui officia</li>
		  						<li>Duis aute irure dolor in culpa qui</li>
		  						<li>Sunt in culpa qui officia vel illum qui</li>
		  						<li>vel illum qui dolorem eum wise man therefore</li>
		  						<li>The wise man therefore in culpa qui officia</li>
		  						<li>Sunt in culpa qui officia culpa qui officia</li>
		  						<li>Lorem ipsum dolor sit amet qui officia</li>
		  						<li>Duis aute irure dolor in culpa qui</li>
		  						<li>Sunt in culpa qui officia vel illum qui</li>
		  						<li>vel illum qui dolorem eum wise man therefore</li>
		  			        </ul>
						</div>
						<div class="col_1_of_3 span_1_of_3">
						  <div class="new-products">
							<h3>Our Stafff</h3>
								<p><a href="#"><img src="../../Resource/templates/beforeLogin/web/images/management-1.jpg" alt=""></a></p>
								<p><a href="#"><img src="../../Resource/templates/beforeLogin/web/images/management-2.jpg" alt=""></a></p>
								<p><a href="#"><img src="../../Resource/templates/beforeLogin/web/images/management-3.jpg" alt=""></a></p>
								<p><a href="#"><img src="../../Resource/templates/beforeLogin/web/images/management-4.jpg" alt=""></a></p>
								<p><a href="#"><img src="../../Resource/templates/beforeLogin/web/images/management-5.jpg" alt=""></a></p>
								<p><a href="#"><img src="../../Resource/templates/beforeLogin/web/images/management-6.jpg" alt=""></a></p>
								<div class="read_more"><a href="#">View all</a></div>
					      </div>
				    </div>
			     </div>
	 	    </div>
          </div>
       </div>
    </div>