<link href="../../Resource/templates/beforeLogin/web/css/jumbotron.css" rel="stylesheet" type="text/css" media="all"/>

    <div class="jumbotron" ng-controller="homeTemplate" ng-cloak>
      <div class="container">

				 <div class="grid_1_of_3 images_1_of_2">
					<div class="grid_icon_hire"><a href={{gridIconDataList[0].ImageLink}}><img src={{gridIconDataList[0].ImageIconUrl}} width="100%" height="100%"></a></div>
					          <h3>{{gridIconDataList[0].Headline}}</h3>					          
				             <a href={{gridIconDataList[0].BottomButtonUrl}}><button class="btn btn-primary">{{gridIconDataList[0].Content}}</button></a>
				</div>
				<div class="grid_1_of_3 images_1_of_2">
					  <div class="grid_icon_work"><a href={{gridIconDataList[1].ImageLink}}><img src={{gridIconDataList[1].ImageIconUrl}} width="100%" height="100%"></a></div>
					          <h3>{{gridIconDataList[1].Headline}}</h3>					          
				             <a href={{gridIconDataList[1].BottomButtonUrl}}><button class="btn btn-success">{{gridIconDataList[1].Content}}</button></a>
				</div>

			</div>

    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
    </div>
     
 <!-- /container -->

