<link href="../../../Resource/templates/beforeLogin/web/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!-- Nice Scroll -->
	<script src="../../Resource/templates/afterLogin/web/js/plugins/imagesLoaded/jquery.imagesloaded.min.js"></script>
	<!-- imagesLoaded -->
	<script src="../../Resource/templates/afterLogin/web/js/plugins/imagesLoaded/jquery.imagesloaded.min.js"></script>
	<!-- jQuery UI -->
	<script src="../../Resource/templates/afterLogin/web/js/plugins/jquery-ui/jquery.ui.core.min.js"></script>
	<script src="../../Resource/templates/afterLogin/web/js/plugins/jquery-ui/jquery.ui.widget.min.js"></script>
	<script src="../../Resource/templates/afterLogin/web/js/plugins/jquery-ui/jquery.ui.mouse.min.js"></script>
	<script src="../../Resource/templates/afterLogin/web/js/plugins/jquery-ui/jquery.ui.resizable.min.js"></script>
	<script src="../../Resource/templates/afterLogin/web/js/plugins/jquery-ui/jquery.ui.sortable.min.js"></script>
	<!-- slimScroll -->
	<script src="../../Resource/templates/afterLogin/web/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<!-- Bootstrap -->
	<script src="../../Resource/templates/afterLogin/web/js/bootstrap.min.js"></script>
	<!-- Bootbox -->
	<script src="../../Resource/templates/afterLogin/web/js/plugins/bootbox/jquery.bootbox.js"></script>
	<!-- Bootbox -->
	<script src="../../Resource/templates/afterLogin/web/js/plugins/form/jquery.form.min.js"></script>
	<!-- Validation -->
	<script src="../../Resource/templates/afterLogin/web/js/plugins/validation/jquery.validate.min.js"></script>
	<script src="../../Resource/templates/afterLogin/web/js/plugins/validation/additional-methods.min.js"></script>

	<!-- Theme framework -->
	<script src="../../Resource/templates/afterLogin/web/js/eakroko.min.js"></script>
	<!-- Theme scripts -->
	<script src="../../Resource/templates/afterLogin/web/js/application.min.js"></script>
	<!-- Just for demonstration -->
	<script src="../../Resource/templates/afterLogin/web/js/demonstration.min.js"></script>

  <div class="container-fluid">
				
				<div class="row-fluid">
					<div class="span12">
						<div class="box">
							<div class="box-title">
								<h3>
									<i class="icon-ok"></i>
									Create a Free Freelancer Account
								</h3>
							</div>
							<div class="box-content">
								<form action="#" method="POST" class='form-horizontal form-validate' id="bb">
                                    <div class="control-group">
										<label for="emailfield" class="control-label">Email</label>
										<div class="controls">
											<input type="text" name="emailfield" id="emailfield" class="input-xlarge" data-rule-email="true" data-rule-required="true">
                                            <a class="btn add-on username-check-force" href="#"><i class="icon-refresh"></i></a>
										</div>
									</div>

									<div class="control-group">
										<label for="textfield" class="control-label">First Name</label>
										<div class="controls">
											<input type="text" name="textfield" id="textfield" class="input-xlarge" data-rule-required="true" data-rule-minlength="2">
										</div>
									</div>
                                    <div class="control-group">
										<label for="textfield" class="control-label">Last Name</label>
										<div class="controls">
											<input type="text" name="textfield" id="text1" class="input-xlarge" data-rule-required="true" data-rule-minlength="2">
										</div>
									</div>                                    
									
									<div class="control-group">
										<label for="pwfield" class="control-label">Password</label>
										<div class="controls">
											<input type="password" name="pwfield" id="pwfield" class="input-xlarge" data-rule-required="true">
										</div>
									</div>
									<div class="control-group">
										<label for="confirmfield" class="control-label">Confirm password</label>
										<div class="controls">
											<input type="password" name="confirmfield" id="confirmfield" class="input-xlarge" data-rule-equalTo="#pwfield" data-rule-required="true">
										</div>
									</div>
									<div class="control-group">
										<label for="policy" class="control-label">Agree our policy</label>
										<div class="controls">
											<label class="checkbox">
												<input type="checkbox" name="policy" value="agree" data-rule-required="true"> I agree the policy.
											</label>
										</div>
									</div>
									<div class="form-actions">
										<input type="submit" class="btn btn-primary" value="Submit">
										<button type="button" class="btn">Cancel</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>				
			</div>