<link href="../../../Resource/templates/beforeLogin/web/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!-- Nice Scroll -->
	
	<!-- jQuery UI -->
	<script src="../../Resource/templates/afterLogin/web/js/plugins/jquery-ui/jquery.ui.core.min.js"></script>
	<script src="../../Resource/templates/afterLogin/web/js/plugins/jquery-ui/jquery.ui.widget.min.js"></script>
	<script src="../../Resource/templates/afterLogin/web/js/plugins/jquery-ui/jquery.ui.mouse.min.js"></script>
	<script src="../../Resource/templates/afterLogin/web/js/plugins/jquery-ui/jquery.ui.resizable.min.js"></script>
	<script src="../../Resource/templates/afterLogin/web/js/plugins/jquery-ui/jquery.ui.sortable.min.js"></script>



	<!-- Nice Scroll -->
	<script src="../../Resource/templates/afterLogin/web/js/plugins/nicescroll/jquery.nicescroll.min.js"></script>
	<!-- Validation -->
	<script src="../../Resource/templates/afterLogin/web/js/plugins/validation/jquery.validate.min.js"></script>
	
  <div class="container-fluid" ng-controller="signUpClientController">
				
				<div class="row-fluid">
					<div class="span12">
						<div class="box">
							<div class="box-title">
								<h3>
									<i class="icon-ok"></i>
									Create a Free Freelancer Client Account
								</h3>
							</div>
							<div class="box-content">
								<form ng-submit="submitCreateAccountData()" class='form-horizontal form-validate' id="bb">
                                    <div class="control-group">
										<label for="emailfield" class="control-label">Email</label>
										<div class="controls">
											<input type="text" ng-model="userName" ng-blur="checkEmailAvailableOnFocusOut()" name="emailfield" id="emailfield" class="input-xlarge" data-rule-email="true" data-rule-required="true">
                                            <a class="btn add-on username-check-force" href="" ng-click="checkUserExists()"><i class="icon-refresh"></i></a>
                                            <div ng-show="showEmailMessage" ng-cloak>
                                                <span ng-hide="emailAlreadyExists" style='color:green'>Username Available</span>
                                                <span ng-show="emailAlreadyExists" style="color:red">Username already taken</span>
                                            </div>                                            
										</div>
									</div>


                                    <div class="control-group">
										<label for="company" class="control-label"></label>
										<div class="controls">
											<label class="checkbox">
												<input type="checkbox" name="companyCheckbox" ng-model="companyNameText" value="agree"> Sign up as a company
											</label>
										</div>
									</div>

                                    <div class="control-group" ng-hide="!companyNameText" ng-cloak>
										<label for="textfield" class="control-label">Company Name</label>
										<div class="controls">
											<input type="text" ng-model="CompanyName" name="textfield" id="text2" class="input-xlarge" data-rule-required="true" data-rule-minlength="3">
                                            <!--<div ng-cloak>{{firstName}}</div>-->
										</div>
									</div>

                                    <div class="control-group">
										<label for="pwfield" class="control-label">Password</label>
										<div class="controls">
											<input type="password" ng-model="password" name="pwfield" id="pwfield" class="input-xlarge" data-rule-required="true" data-rule-minlength="6" data-rule-maxlength="15">
                                            <!--<div ng-cloak>{{password}}</div>-->
										</div>
									</div>
									<div class="control-group">
										<label for="confirmfield" class="control-label">Confirm password</label>
										<div class="controls">
											<input type="password" ng-model="confirmPassword" name="confirmfield" id="confirmfield" class="input-xlarge" data-rule-equalTo="#pwfield" data-rule-required="true">
                                            <!--<div ng-cloak>{{confirmPassword}}</div>-->
										</div>
									</div>
									<div class="control-group">
										<label for="textfield" class="control-label">First Name</label>
										<div class="controls">
											<input type="text" ng-model="firstName" name="textfield" id="textfield" class="input-xlarge" data-rule-required="true" data-rule-minlength="2">
                                            <!--<div ng-cloak>{{firstName}}</div>-->
										</div>
									</div>
                                    <div class="control-group">
										<label for="textfield" class="control-label">Last Name</label>
										<div class="controls">
											<input type="text" ng-model="lastName" name="textfield" id="text1" class="input-xlarge" data-rule-required="true" data-rule-minlength="2">
                                            <!--<div ng-cloak>{{lastName}}</div>-->
										</div>
									</div>                                    
									
									<div class="control-group">
										<label for="policy" class="control-label">Agree our policy</label>
										<div class="controls">
											<label class="checkbox">
												<input type="checkbox" name="policy" ng-model="tncModel" data-rule-required="true"> I agree the <a href="#/tnc">policy.</a>
											</label>
										</div>
									</div>
									<div class="form-actions">
										<input type="submit" class="btn btn-primary" value="Submit">
										<button type="button" class="btn">Cancel</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>				
			</div>