<div ng-controller="searchJobDetailsController">
<div id="modal-firstTimeUserLoginViaSocialLinkChangePasswordPopUp" ng-include="firstTimeUserLoginViaSocialLinkChangePasswordPopUpTemplate"  class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>
<a href="#modal-firstTimeUserLoginViaSocialLinkChangePasswordPopUp" id="firstTimeUserLoginViaSocialLinkChangePasswordPopUp"  role="button" class="btn" data-toggle="modal" style="display: none;">Modal with animation</a>
    <div class="page-header">
        <div class="pull-left">
            <h1>
                Search results</h1>
        </div>
        <div class="pull-right">
            <ul class="minitiles">
                <li class='grey'><a href="#"><i class="icon-cogs"></i></a></li>
                <li class='lightgrey'><a href="#"><i class="icon-globe"></i></a></li>
            </ul>
            <ul class="stats">
                <li class='satgreen'><i class="icon-money"></i>
                    <div class="details">
                        <span class="big">$324,12</span> <span>Balance</span>
                    </div>
                </li>
                <li class='lightred'><i class="icon-calendar"></i>
                    <div class="details">
                        <span class="big">February 22, 2013</span> <span>Wednesday, 13:56</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="breadcrumbs">
        <form class="search-form ng-pristine ng-valid" method="GET" action="search-results.html">
				<div class="">
					<input style="width:80%" type="text" name="search" placeholder="Search here..." x-webkit-speech>
					<button type="submit"><i class="icon-search"></i></button>
				</div>
			</form>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="box box-color box-bordered">
                <div class="box-title">
                    <h3>
                        <i class="icon-search"></i>Search results
                    </h3>
                </div>
                <div class="box-content nopadding">
                    <div class="highlight-toolbar">
                        <div class="pull-left">
                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <div class="pagination pagination-custom">
                                        <ul>
                                            <li><a href="#"><i class="icon-double-angle-left"></i></a></li>
                                            <li><a href="#">1</a></li>
                                            <li class='active'><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#"><i class="icon-double-angle-right"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <div class="dropdown">
                                        <a href="#" class="btn" data-toggle="dropdown" rel="tooltip" title="Sort">Sort by <span
                                            class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Name</a></li>
                                            <li><a href="#">Date</a></li>
                                            <li><a href="#">Relevance</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pull-right">
                            <div class="btn-group">
                                <span>Showing results <strong>1-25</strong> of <strong>348</strong></span>
                            </div>
                        </div>
                    </div>
                    <div class="search-results">
                        <ul>

                            <li ng-repeat="job in jobDetailList">
                                <div class="thumbnail">
                                    <img src={{job.jobImageLink}} alt="">
                                </div>
                                <div class="search-info">
                                    <a href={{job.jobLink}}>{{job.heading}}</a>
                                    <p class="url">
                                        {{job.jobLink}}/</p>
                                    <p>
                                        {{job.content}}
                                    </p>
                                </div>
                            </li>


                        </ul>
                    </div>
                    <div class="highlight-toolbar bottom">
                        <div class="pull-left">
                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <div class="pagination pagination-custom">
                                        <ul>
                                            <li><a href="#"><i class="icon-double-angle-left"></i></a></li>
                                            <li><a href="#">1</a></li>
                                            <li class='active'><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#"><i class="icon-double-angle-right"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <div class="dropdown">
                                        <a href="#" class="btn" data-toggle="dropdown" rel="tooltip" title="Sort">Sort by <span
                                            class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Name</a></li>
                                            <li><a href="#">Date</a></li>
                                            <li><a href="#">Relevance</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pull-right">
                            <div class="btn-group">
                                <span>Showing results <strong>1-25</strong> of <strong>348</strong></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
