@{
    Layout = null;
}

<!DOCTYPE HTML>
<html ng-app="ZestorkApp">
<head>
<title>Zestork | Place to boost your Career</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="../../Resource/templates/beforeLogin/web/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<script type="text/javascript" src="../../Resource/templates/beforeLogin/web/js/jquery.min.js"></script>
<script type="text/javascript" src="../../Resource/templates/beforeLogin/web/js/responsiveslides.min.js"></script>
		  
        <script src="../../Content/lib/angular.min.js" type="text/javascript"></script>  
		<script src="../../Content/app/beforeLogin/beforeLoginApp.js" type="text/javascript"></script>				
		<script src="../../Content/app/beforeLogin/homeTemplate.js" type="text/javascript"></script>
		<script src="../../Content/app/beforeLogin/serviceTemplate.js" type="text/javascript"></script>
		<script src="../../Content/app/beforeLogin/aboutTemplate.js" type="text/javascript"></script>

		<link type="text/css" rel="stylesheet" href="../../Content/third-party/jquery.modalbox-1.5.0/css/jquery.modalbox.css" />
		<script type="text/javascript" src="http//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="../../Content/third-party/jquery.modalbox-1.5.0/js/jquery.modalbox-1.5.0-min.js"></script>
		<!--http://code.google.com/p/jquery-modalbox-plugin/-->

		<!-- Bootstrap -->
	<link rel="stylesheet" href="../../Resource/templates/afterLogin/css/bootstrap.min.css">
	<!-- Bootstrap responsive -->
	<link rel="stylesheet" href="../../Resource/templates/afterLogin/css/bootstrap-responsive.min.css">
	<!-- icheck -->
	<link rel="stylesheet" href="../../Resource/templates/afterLogin/css/plugins/icheck/all.css">
	<!-- Theme CSS -->
	<link rel="stylesheet" href="../../Resource/templates/afterLogin/css/style.css">
	<!-- Color CSS -->
	<link rel="stylesheet" href="../../Resource/templates/afterLogin/css/themes.css">


	<!-- Nice Scroll -->
	<script src="../../Resource/templates/afterLogin/js/plugins/nicescroll/jquery.nicescroll.min.js"></script>
	<!-- Validation -->
	<script src="../../Resource/templates/afterLogin/js/plugins/validation/jquery.validate.min.js"></script>
	<script src="../../Resource/templates/afterLogin/js/plugins/validation/additional-methods.min.js"></script>
	<!-- icheck -->
	<script src="../../Resource/templates/afterLogin/js/plugins/icheck/jquery.icheck.min.js"></script>
	<!-- Bootstrap -->
	<script src="../../Resource/templates/afterLogin/js/bootstrap.min.js"></script>
	<script src="../../Resource/templates/afterLogin/js/eakroko.js"></script>

	<!--[if lte IE 9]>
		<script src="js/plugins/placeholder/jquery.placeholder.min.js"></script>
		<script>
			$(document).ready(function() {
				$('input, textarea').placeholder();
			});
		</script>
	<![endif]-->

		<link href="../../Content/css/nprogress.css" rel='stylesheet' />
		<script src='../../Content/js/nprogress.js'></script>

  </head>
<body ng-controller="beforeLoginHeaderController" ng-cloak>
  <div class="header">
  	 <div class="header_top">
	        <div class="wrap">		
		 		<div class="logo">
						<a href="{{beforeLoginHeaderInfo.logoUrl}}"><img src="{{beforeLoginHeaderInfo.logoImage}}" alt="" /></a>                        	  
					</div>	
					 <div class="menu">
					    <ul>
                            <li ng-repeat="tabData in beforeLoginMenuTab">
                                <a href={{tabData.tabUrl}}>{{tabData.tabName}}</a>
                            </li>
							<li>
								<div class="openmodalbox">
									<a href="3"> Click here</a>
									<div class="modalboxContent">
										<div class="wrapper">											
											<div class="login-body">
												<h2>SIGN IN</h2>
												<form action="index.html" method='get' class='form-validate' id="test">
													<div class="control-group">
														<div class="email controls">
															<input type="text" name='uemail' placeholder="Email address" class='input-block-level' data-rule-required="true" data-rule-email="true">
														</div>
													</div>
													<div class="control-group">
														<div class="pw controls">
															<input type="password" name="upw" placeholder="Password" class='input-block-level' data-rule-required="true">
														</div>
													</div>
													<div class="submit">
														<div class="remember">
															<input type="checkbox" name="remember" class='icheck-me' data-skin="square" data-color="blue" id="remember"> <label for="remember">Remember me</label>
														</div>
														<input type="submit" value="Sign me in" class='btn btn-primary'>
													</div>
												</form>
												<div class="forget">
													<a href="#"><span>Forgot password?</span></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>							                            
							<div class="clear"></div>
						</ul>                        
					 </div>						
	    		 <div class="clear"></div>
	        </div>
	    </div>				
  	</div>		
      
      <div ng-view></div>

      <div class="footer">
			<div class="wrap">
			  <p class="address"><img src={{beforeLoginFooterInfo.locationIconImage}} alt={{beforeLoginFooterInfo.locationIconAltImage}} /> {{beforeLoginFooterInfo.locationAddress}}</p> <p class="phone"><img src={{beforeLoginFooterInfo.phoneIconImage}} alt={{beforeLoginFooterInfo.phoneIconAltImage}} /> {{beforeLoginFooterInfo.phoneIconTex}} <span>{{beforeLoginFooterInfo.phoneIconNumber}}</span></p>
		      <div class="clear"></div>
		</div>	
	  </div>
     <div class="copy-right">
			<div class="wrap">
			     <p>{{beforeLoginFooterCopyRightInfo.companyName}} © All Rights Reserved | Design by  <a href={{beforeLoginFooterCopyRightInfo.designedByUrl}}>{{beforeLoginFooterCopyRightInfo.designedByText}}</a></p>
		      <div class="clear"></div>
		</div>	
	</div>
</body>
</html>


