@{
    Layout = null;
}

<!DOCTYPE HTML>
<html ng-app="ZestorkApp">
<head>
<title>Zestork | Place to boost your Career</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="../../Resource/templates/beforeLogin/web/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<script type="text/javascript" src="../../Resource/templates/beforeLogin/web/js/jquery.min.js"></script>
<script type="text/javascript" src="../../Resource/templates/beforeLogin/web/js/responsiveslides.min.js"></script>
		  
          <script src="../../Content/lib/angular.min.js" type="text/javascript"></script>  
		<script src="../../Content/app/beforeLogin/beforeLoginApp.js" type="text/javascript"></script>		
		<script src="../../Content/app/beforeLogin/homeTemplate.js" type="text/javascript"></script>
		<script src="../../Content/app/beforeLogin/serviceTemplate.js" type="text/javascript"></script>

		<link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css" rel="stylesheet" />
		<link href="http://getbootstrap.com/2.3.2/assets/js/google-code-prettify/prettify.css" rel="stylesheet" />
		<link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap-responsive.css" rel="stylesheet" />
		<link href="../../Content/third-party/bootstrap-modal-master/css/bootstrap-modal.css" rel="stylesheet" />

		<link href="../../Content/css/nprogress.css" rel='stylesheet' />
		<script src='../../Content/js/nprogress.js'></script>

  </head>
<body ng-controller="beforeLoginHeaderController" ng-cloak>
  <div class="header">
  	 <div class="header_top">
	        <div class="wrap">		
		 		<div class="logo">
						<a href="{{beforeLoginHeaderInfo.logoUrl}}"><img src="{{beforeLoginHeaderInfo.logoImage}}" alt="" /></a>                        	  
					</div>	
					 <div class="menu">
					    <ul>
                            <li ng-repeat="tabData in beforeLoginMenuTab">
                                <a href={{tabData.tabUrl}}>{{tabData.tabName}}</a>
                            </li>							                            
							<div class="clear"></div>
						</ul>                        
					 </div>						
	    		 <div class="clear"></div>
	        </div>
	    </div>				
  	</div>		
      
      <div ng-view></div>

      <div class="footer">
			<div class="wrap">
			  <p class="address"><img src={{beforeLoginFooterInfo.locationIconImage}} alt={{beforeLoginFooterInfo.locationIconAltImage}} /> {{beforeLoginFooterInfo.locationAddress}}</p> <p class="phone"><img src={{beforeLoginFooterInfo.phoneIconImage}} alt={{beforeLoginFooterInfo.phoneIconAltImage}} /> {{beforeLoginFooterInfo.phoneIconTex}} <span>{{beforeLoginFooterInfo.phoneIconNumber}}</span></p>
		      <div class="clear"></div>
		</div>	
	  </div>
     <div class="copy-right">
			<div class="wrap">
			     <p>{{beforeLoginFooterCopyRightInfo.companyName}} © All Rights Reserved | Design by  <a href={{beforeLoginFooterCopyRightInfo.designedByUrl}}>{{beforeLoginFooterCopyRightInfo.designedByText}}</a></p>
		      <div class="clear"></div>
		</div>	
	</div>
</body>
</html>


